body{
 background:#111;
 color:white;
 text-align:center;
}

.hidden{display:none;}

.card{
 width:120px;
 height:150px;
 background:black;
 border:2px solid white;
 border-radius:10px;
 margin:5px;
 padding:5px;
 display:inline-block;
}

#log{
 height:50px;
 border-bottom:1px solid white;
}

#enemyArea{
 height:40vh;
 display:flex;
 justify-content:center;
 align-items:center;
}

#allyArea{
 position:fixed;
 bottom:0;
 width:100%;
 display:flex;
 justify-content:center;
}

button{padding:10px;}

#fade{
 position:fixed;
 inset:0;
 background:black;
 opacity:0;
 transition:.3s;
 pointer-events:none;
}

#clearScreen,#gameOverScreen{
 position:fixed;
 inset:0;
 background:black;
 display:flex;
 justify-content:center;
 align-items:center;
 flex-direction:column;
}
